In [1]:
from urllib import request, error
from urllib.parse import urlencode
import numpy as np
import json
import time
import re 
API_VERSION = '1.3'
import pandas as pd
import time
URL = 'https://randomuser.me/api/?nat=us'.format(API_VERSION)   
JSON_FILE = json.loads(request.urlopen(URL).read())
Title =JSON_FILE['results'][0]['login']
Title

{'uuid': 'dab2be2e-b2cd-4277-a84f-76f020e5494c',
 'username': 'yellowkoala486',
 'password': 'ddddd',
 'salt': 'lW2jEElH',
 'md5': '5be58ef549942c5454b67f65fc472b23',
 'sha1': 'f6793b28c9eab52fd46f148af41479d0d314acca',
 'sha256': '1d04d6e9a37d205b0a803013db229eb61eeb63427622a29c3c73082f0b59175e'}

In [2]:
password =[]
for i in range(250):
    URL = 'https://randomuser.me/api/?nat=us'.format(API_VERSION)   
    JSON_FILE = json.loads(request.urlopen(URL).read())
    Title =JSON_FILE['results'][0]['login']['password']
    password.append(Title)
    
password

['loretta',
 'johanna',
 'vader1',
 'junk',
 'piglet',
 'bullet',
 'smoking',
 'nintendo',
 'money1',
 'jian',
 'bigballs',
 'techniques',
 'freepass',
 '98765',
 'kkkkkk',
 'idunno',
 'blue42',
 'willy',
 'spliff',
 'gerbil',
 'homemade',
 'terry1',
 'trip',
 'athlon',
 'trojans',
 'madeline',
 'hehehe',
 'xander',
 'kick',
 '223344',
 'lakers1',
 'ggggg',
 'nokia',
 'enterme',
 'freefall',
 'ying',
 'ledzep',
 '030303',
 'malone',
 'pilot',
 'gilbert',
 'blues',
 'heidi',
 'stunner',
 '7777777',
 'shells',
 'sticks',
 'slipknot',
 'ventura',
 'buddy',
 'kent',
 'aside',
 'comfort',
 'neutron',
 'sweet',
 'spidey',
 'area51',
 'pickup',
 'brother',
 '2121',
 'elliot',
 'homerj',
 'foxy',
 'queenie',
 'manchest',
 'credit',
 'cotton',
 'jarrett',
 'renee',
 'cats',
 'conway',
 'blanca',
 'fringe',
 'novell',
 'joey',
 'kikimora',
 'lancia',
 'animals',
 'hotmail0',
 'right',
 'chuckles',
 'pancho',
 'daisy1',
 'rudy',
 'power1',
 'ericsson',
 'hetfield',
 'mollydog',
 'misfit',
 'pigpen',
 'jerk',
 'destiny',
 'woodwork',
 'woodie',
 'marma',
 'lian',
 'magical',
 'stormy',
 'junior1',
 'woodman',
 'neutron',
 'courage',
 'bouncer',
 'clarissa',
 'vegeta',
 'enforcer',
 'sleeper',
 'loverboy',
 'montag',
 'rambo',
 'misery',
 'please',
 'theman',
 'icehouse',
 'good',
 'coleman',
 'redheads',
 'speedo',
 'philippe',
 'montreal',
 'australi',
 'nguyen',
 'nocturne',
 'abigail',
 'hotred',
 'baddest',
 'bukkake',
 'hamburg',
 'keystone',
 'trucker',
 'forest',
 'venture',
 'chapman',
 'testing',
 'model',
 'sssss',
 'kristin',
 'killkill',
 'jonny',
 'anubis',
 'dylan1',
 'rivers',
 'carpedie',
 'reagan',
 'baller',
 'twelve',
 'desmond',
 'models',
 'todd',
 'ying',
 'malcolm',
 'megan1',
 'soprano',
 'rangers',
 'divers',
 'easton',
 '2005',
 'nextel',
 'susan1',
 'thekid',
 'badgers',
 '7grout',
 'pizza',
 'sidekick',
 'terry1',
 'poiuy',
 'brewer',
 'jimmys',
 '141414',
 'gratis',
 'solitude',
 'pretty',
 'danny1',
 'thongs',
 'matthew1',
 'rhythm',
 'word',
 'sanity',
 'account',
 'hannibal',
 'onetime',
 'ladies',
 'beavis1',
 'shamus',
 'john1',
 'hyperion',
 'chuck',
 'lake',
 'mitch',
 'borders',
 'iawgk2',
 'senior',
 'templar',
 '00000',
 'kennedy',
 'omega',
 'ding',
 'march',
 'lindsey',
 'disney',
 'ireland',
 '22222',
 'richmond',
 'merlin',
 'meier',
 'midget',
 '1027',
 'running',
 'please1',
 'fdsa',
 'antoine',
 '1988',
 'buceta',
 'santana',
 'smile',
 'fortune',
 'chuck1',
 'tripleh',
 'leng',
 'christmas',
 'card',
 'hamlet',
 'acer',
 'benji',
 'hotbox',
 'luckydog',
 'randall',
 'gonzales',
 'colonel',
 'werner',
 'willie',
 'goldfish',
 'trucks',
 'clapton',
 'core',
 'garrett',
 'noway',
 'older',
 'evolutio',
 'bobobo',
 'coconut',
 'kilroy',
 'iiiiii',
 'passpass',
 'hewitt',
 'safari',
 'mistress',
 'munchkin',
 'potato',
 'scxakv']

In [3]:
password

['loretta',
 'johanna',
 'vader1',
 'junk',
 'piglet',
 'bullet',
 'smoking',
 'nintendo',
 'money1',
 'jian',
 'bigballs',
 'techniques',
 'freepass',
 '98765',
 'kkkkkk',
 'idunno',
 'blue42',
 'willy',
 'spliff',
 'gerbil',
 'homemade',
 'terry1',
 'trip',
 'athlon',
 'trojans',
 'madeline',
 'hehehe',
 'xander',
 'kick',
 '223344',
 'lakers1',
 'ggggg',
 'nokia',
 'enterme',
 'freefall',
 'ying',
 'ledzep',
 '030303',
 'malone',
 'pilot',
 'gilbert',
 'blues',
 'heidi',
 'stunner',
 '7777777',
 'shells',
 'sticks',
 'slipknot',
 'ventura',
 'buddy',
 'kent',
 'aside',
 'comfort',
 'neutron',
 'sweet',
 'spidey',
 'area51',
 'pickup',
 'brother',
 '2121',
 'elliot',
 'homerj',
 'foxy',
 'queenie',
 'manchest',
 'credit',
 'cotton',
 'jarrett',
 'renee',
 'cats',
 'conway',
 'blanca',
 'fringe',
 'novell',
 'joey',
 'kikimora',
 'lancia',
 'animals',
 'hotmail0',
 'right',
 'chuckles',
 'pancho',
 'daisy1',
 'rudy',
 'power1',
 'ericsson',
 'hetfield',
 'mollydog',
 'misfit',
 'pigpen',
 'jerk',
 'destiny',
 'woodwork',
 'woodie',
 'marma',
 'lian',
 'magical',
 'stormy',
 'junior1',
 'woodman',
 'neutron',
 'courage',
 'bouncer',
 'clarissa',
 'vegeta',
 'enforcer',
 'sleeper',
 'loverboy',
 'montag',
 'rambo',
 'misery',
 'please',
 'theman',
 'icehouse',
 'good',
 'coleman',
 'redheads',
 'speedo',
 'philippe',
 'montreal',
 'australi',
 'nguyen',
 'nocturne',
 'abigail',
 'hotred',
 'baddest',
 'bukkake',
 'hamburg',
 'keystone',
 'trucker',
 'forest',
 'venture',
 'chapman',
 'testing',
 'model',
 'sssss',
 'kristin',
 'killkill',
 'jonny',
 'anubis',
 'dylan1',
 'rivers',
 'carpedie',
 'reagan',
 'baller',
 'twelve',
 'desmond',
 'models',
 'todd',
 'ying',
 'malcolm',
 'megan1',
 'soprano',
 'rangers',
 'divers',
 'easton',
 '2005',
 'nextel',
 'susan1',
 'thekid',
 'badgers',
 '7grout',
 'pizza',
 'sidekick',
 'terry1',
 'poiuy',
 'brewer',
 'jimmys',
 '141414',
 'gratis',
 'solitude',
 'pretty',
 'danny1',
 'thongs',
 'matthew1',
 'rhythm',
 'word',
 'sanity',
 'account',
 'hannibal',
 'onetime',
 'ladies',
 'beavis1',
 'shamus',
 'john1',
 'hyperion',
 'chuck',
 'lake',
 'mitch',
 'borders',
 'iawgk2',
 'senior',
 'templar',
 '00000',
 'kennedy',
 'omega',
 'ding',
 'march',
 'lindsey',
 'disney',
 'ireland',
 '22222',
 'richmond',
 'merlin',
 'meier',
 'midget',
 '1027',
 'running',
 'please1',
 'fdsa',
 'antoine',
 '1988',
 'buceta',
 'santana',
 'smile',
 'fortune',
 'chuck1',
 'tripleh',
 'leng',
 'christmas',
 'card',
 'hamlet',
 'acer',
 'benji',
 'hotbox',
 'luckydog',
 'randall',
 'gonzales',
 'colonel',
 'werner',
 'willie',
 'goldfish',
 'trucks',
 'clapton',
 'core',
 'garrett',
 'noway',
 'older',
 'evolutio',
 'bobobo',
 'coconut',
 'kilroy',
 'iiiiii',
 'passpass',
 'hewitt',
 'safari',
 'mistress',
 'munchkin',
 'potato',
 'scxakv']

In [46]:
Employee = pd.read_csv("C:/ram/FALL/DMQL/Project/Employee.csv")
Account_Details = pd.read_csv("C:/ram/FALL/DMQL/Project/Account_Details.csv")


Employee

,Unnamed: 0,Employee_id,Emp_Name,Email_Id,Phone,Branch_id
0,0,E76886793,Laurie Peck,laurie.peck@bsabank.com,+1(357) 798-4657,BSABUF17
1,1,E59860024,Joel Webb,joel.webb@bsabank.com,+1(985) 895-5467,BSABUF09
2,2,E46800944,Jordan Simpson,jordan.simpson@bsabank.com,+1(482) 545-8708,BSABUF01
3,3,E53277210,Jeffrey Barnes,jeffrey.barnes@bsabank.com,+1(668) 306-3490,BSABUF19
4,4,E77775339,Allan Bell,allan.bell@bsabank.com,+1(538) 482-4191,BSABUF12
...,...,...,...,...,...,...
245,245,E27703440,Charlotte Pearson,charlotte.pearson@bsabank.com,+1(575) 708-2663,BSABUF10
246,246,E76225705,Tina Willis,tina.willis@bsabank.com,+1(918) 946-2863,BSABUF17
247,247,E45678507,Daisy Garrett,daisy.garrett@bsabank.com,+1(285) 741-4849,BSABUF05
248,248,E39994906,Cathy Fisher,cathy.fisher@bsabank.com,+1(444) 707-5174,BSABUF01
249,249,E90728467,Darryl Wagner,darryl.wagner@bsabank.com,+1(920) 360-5451,BSABUF02

In [47]:
Login = pd.DataFrame (Employee['Employee_id'].tolist(), columns = ['User_Id'])
Login['password'] = password


Login

       User_Id  password
0    E76886793   loretta
1    E59860024   johanna
2    E46800944    vader1
3    E53277210      junk
4    E77775339    piglet
..         ...       ...
245  E27703440    safari
246  E76225705  mistress
247  E45678507  munchkin
248  E39994906    potato
249  E90728467    scxakv

[250 rows x 2 columns]

In [55]:
main_accc_no = Account_Details['Account_no'].tolist()

    
    
Login['Account_no'] = main_accc_no[:250]

In [52]:
main_accc_no[:250]

[1032665555259110,
 1022457127705150,
 1034377768495020,
 1030517720272910,
 1018800232477030,
 1042911798015270,
 1054901254984870,
 1065593631272280,
 1074633852582210,
 1025763045622640,
 1052608389998980,
 1025350685115370,
 1067279037719070,
 1066304307086570,
 1065955056420480,
 1019917694721600,
 1075852088411650,
 1016128482929910,
 1040571096926120,
 1080424745780090,
 1086524242872980,
 1095200681258400,
 1046737197659330,
 1029112469321250,
 1019460197825080,
 1058503783530980,
 1049074444612410,
 1059839502227380,
 1043400801347300,
 1088997202971140,
 1027176723327960,
 1032295554394290,
 1054745058523670,
 1080359242029850,
 1035982543107090,
 1084927199571030,
 1060214931906240,
 1074644609006420,
 1078287860338320,
 1030603168653410,
 1060244685091350,
 1059814389528530,
 1024564705165970,
 1061717522637350,
 1029798424300080,
 1013317201207830,
 1085470707956810,
 1021761249147330,
 1040405685012350,
 1012794948779830,
 1025931879410790,
 1096797228712190,
 1078489139249960,
 1031095936324570,
 1094025876108570,
 1086632713271350,
 1054685745114530,
 1021970237824600,
 1094362231702880,
 1074908831207190,
 1054922363630390,
 1044037702500850,
 1045867179097350,
 1094173672278080,
 1077985044449340,
 1082597904851830,
 1085346653515080,
 1023921264397160,
 1061899274024530,
 1089639493073050,
 1078418865954520,
 1081973455688600,
 1072875982007650,
 1097698341544810,
 1015082184645320,
 1070858306149380,
 1041833409578130,
 1070994399236810,
 1061695754233720,
 1072307438299660,
 1042631188828440,
 1077120022330240,
 1074171347190830,
 1051476996036930,
 1093311107089370,
 1087386760987880,
 1093449528365790,
 1072330993212320,
 1011577171622670,
 1020174569652790,
 1062139905406030,
 1066500825297980,
 1037889386340590,
 1025975940036190,
 1099724953032820,
 1053526685421760,
 1097576355410380,
 1018563490076280,
 1086437281935440,
 1062412032127750,
 1073440043311870,
 1082028913815270,
 1065899908905890,
 1017183787905480,
 1044614847627790,
 1039659484473470,
 1080711242504080,
 1076079138917230,
 1043980250265710,
 1062169201029580,
 1020264077278100,
 1057435609593690,
 1032772169933830,
 1084001871683130,
 1073925506772570,
 1025224359665800,
 1085653426459840,
 1053001062300140,
 1015698868277890,
 1065570576172290,
 1063056418575080,
 1063649596967460,
 1046491549125440,
 1020883290378230,
 1019670032086700,
 1049682627119080,
 1097824077577850,
 1018867496549160,
 1074348937752500,
 1074977849863790,
 1076431669601870,
 1013439837558260,
 1025001557514820,
 1094125833766660,
 1082285102243700,
 1076693450472480,
 1012515546340830,
 1017875399506780,
 1075004671461510,
 1069324711195620,
 1032655958184340,
 1092129040231810,
 1063878670773260,
 1035623914049010,
 1066104891989570,
 1084093551549860,
 1078574895268840,
 1072796057797940,
 1092351179726560,
 1059976142317900,
 1037802843426170,
 1038807383053010,
 1064303355889940,
 1096130296369130,
 1065297971233300,
 1098140692685360,
 1099716427841490,
 1086497007330980,
 1087046388353590,
 1034419498374190,
 1097853857350120,
 1017740493086470,
 1040673897479360,
 1086364243830260,
 1096311699278550,
 1083188175663290,
 1027754793747790,
 1026652618455120,
 1092899340827420,
 1066188989251430,
 1017024543821480,
 1059809288003910,
 1035748768057960,
 1057207638812530,
 1038967347541970,
 1086902317395380,
 1082519248867550,
 1042714347648780,
 1028532248706410,
 1074153142622090,
 1080523633135610,
 1012496933592660,
 1024683371720660,
 1068263065680450,
 1074282333681690,
 1032028372017690,
 1061253910577220,
 1083843842277570,
 1036146986626260,
 1058239295032700,
 1093214887395920,
 1066917634321100,
 1054352791053630,
 1057726845352280,
 1015321646047070,
 1048028543733690,
 1018000510354340,
 1050054718684300,
 1084554095832970,
 1069660242261530,
 1030720385348850,
 1038456911472500,
 1072529587842840,
 1063432447478160,
 1094330986094720,
 1097593247466430,
 1061367882931050,
 1024357276495130,
 1069345203486500,
 1097060547961330,
 1049029006664700,
 1064085574904270,
 1017120488033080,
 1094113390484130,
 1081446680168520,
 1071704233075840,
 1048584404761360,
 1085731527103540,
 1097688038826370,
 1087835200689650,
 1046006103812920,
 1046181885187730,
 1065469990662510,
 1064724052094430,
 1021621822588560,
 1018929647821410,
 1073783827917490,
 1094436097217160,
 1032736906402800,
 1035506441906480,
 1056163006057500,
 1095425816345420,
 1063526521495610,
 1051100875253150,
 1079116314279750,
 1078310635041960,
 1044440123111820,
 1013627933209580,
 1054032112062530,
 1081676881931790,
 1066476737514480,
 1083928358464240,
 1038283497238750,
 1094951499554010,
 1068851988775830,
 1024858481953470,
 1079891804956790,
 1060380679240390,
 1095505817502330,
 1066262139344960]

In [56]:
Login

       User_Id  password        Account_no
0    E76886793   loretta  1032665555259110
1    E59860024   johanna  1022457127705150
2    E46800944    vader1  1034377768495020
3    E53277210      junk  1030517720272910
4    E77775339    piglet  1018800232477030
..         ...       ...               ...
245  E27703440    safari  1024858481953470
246  E76225705  mistress  1079891804956790
247  E45678507  munchkin  1060380679240390
248  E39994906    potato  1095505817502330
249  E90728467    scxakv  1066262139344960

[250 rows x 3 columns]

In [57]:
Login.to_csv('Employee_Login.csv')

       User_Id  password        Account_no
0    E76886793   loretta  1030773153721760
1    E59860024   johanna  1098169491930550
2    E46800944    vader1  1018372561696380
3    E53277210      junk  1083219653968510
4    E77775339    piglet  1063860546233490
..         ...       ...               ...
245  E27703440    safari  1040781708750870
246  E76225705  mistress  1061326617345570
247  E45678507  munchkin  1091935502986820
248  E39994906    potato  1054886894849920
249  E90728467    scxakv  1013550529628690

[250 rows x 3 columns]